p {
    color: aqua;
    background: slateblue;
    font-size: large;
    text-align: justify;
}

.my_font {
    color: darkgreen;
    font-size: medium;
    text-align: center;
    background-color: black;
}